:root {
  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --clr-bluePrimary: hsl(215, 51%, 70%);
  --clr-cyanPrimary: hsl(178, 100%, 50%);
  --clr-white: #fafafa;
  --clr-line: hsl(215, 32%, 27%);

  --ff-base: "Outfit", sans-serif;

  --space-1: 1.5rem;
  --space-05: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainBG);
  overflow: hidden;
}

.container {
  width: 98vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: var(--cardBG);
  display: flex;
  height: 39rem;
  width: 25rem;
  flex-direction: column;
  border-radius: 0.75rem;
  padding: 2rem;
}

.card-container > * {
  font-family: var(--ff-base);
}

.card-container #title {
  color: var(--clr-white);
  padding-block-start: var(--space-1);
  padding-block-end: var(--space-05);
  font-weight: 600;
}

.card-container p {
  color: var(--clr-bluePrimary);
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8;
}

.img-equilibrium {
  width: 100%;
  /* width: 25rem;
  height: 25rem; */
  border-radius: 1rem;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-container {
  display: flex;
  align-items: center;
  gap: var(--space-05);
  font-size: 0.75rem;
}

.card-info {
  margin-top: 1rem;
}

.card-info #left-info {
  color: var(--clr-cyanPrimary);
  font-weight: 400;
}
.card-info #right-info {
  color: var(--clr-bluePrimary);
  font-weight: 400;
}

.space-between {
  margin-top: 1rem;
  background-color: var(--clr-line);
}

.footer-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.85rem;
}

.footer-info img {
  width: 2.5rem;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
}
.footer-info p > a {
  text-decoration: none;
  color: var(--clr-white);
  font-weight: 600;
}
