:root {
  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --clr-bluePrimary: hsl(215, 51%, 70%);
  --clr-cyanPrimary: hsl(178, 100%, 50%);
}
body {
  background-color: var(--mainBG);
}

.container {
  width: 98vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: var(--cardBG);
  display: flex;
  height: 36rem;
  width:20rem ;
  flex-direction: column;
  border-radius: 0.75rem;
  padding: 2rem;
}

.card-container #title {
  color: var(--clr-bluePrimary);
}
.img-equilibrium {
    width: 100%;
  /* width: 25rem;
  height: 25rem; */
  border-radius: 1rem;
}
